*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-family: Rubik;
  height: 100%;
  line-height: 1;
  font-size: 100%;
  font-size: 16px;
  color: #fffc47;
  /* background: radial-gradient(circle, rgba(59, 25, 40, 1) 0%, rgba(34, 25, 130, 1) 87%); */
  background: url("../assets/home.png");
  /* background-color: #66371b; */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*end of starting*/
[class*="__container"] {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

/* HEADER */

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 40px 0px 0px 30px;
}
.main__center {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 15px;
}
.main__cards {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px;
  max-width: 500px;
  max-height: 100vw;
}

.main__item {
  cursor: pointer;
  transition: all 0.5s ease 0s;
  opacity: 0.35;
  filter: sepia(50%);
}
.main__item.active-ancient {
  opacity: 1;
  filter: drop-shadow(0px 0px 23px #d60316) sepia(0%);
}

.main__item:hover {
  opacity: 1;
  transform: scale(1.05);
}
.main__item img {
  height: 100%;
  max-height: 300px;
  border-radius: 12px;
}

/* main info */

.main__game-info {
}

.main__ancient-name {
  text-align: center;
}

.main__ancient-name-value {
  font-weight: bolder;
  padding: 8px;
}

.main__ancient-cards {
  display: flex;
  flex-direction: column;
}

.stage {
  display: flex;
  margin: 5px;
  justify-content: flex-end;
  gap: 5px;
  align-items: flex-start;
}
.stage > div {
  line-height: 30px;
  width: 30px;
}
.main__first-stage::before {
}
.main__first-stage::before {
  content: "Этап I:";
  line-height: 30px;
}

.main__second-stage {
}
.main__second-stage::before {
  content: "Этап II:";
  line-height: 30px;
}

.main__third-stage {
}
.main__third-stage::before {
  content: "Этап III:";
  line-height: 30px;
}

.first-stage-green {
}
.first-stage-brown {
}
.first-stage-blue {
}
.second-stage-green {
}
.second-stage-brown {
}
.second-stage-blue {
}
.third-stage-green {
}
.third-stage-brown {
}
.third-stage-blue {
}

.first-stage::before {
}
.second-stage {
}
.third-stage {
}

.green {
  background-color: rgba(0, 255, 149, 0.274);
}
.brown {
  background-color: #66371b65;
}
.blue {
  background-color: rgb(0, 47, 255);
}

/* difficulties */

.main__difficulty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__difficulty > label {
  background: linear-gradient(to right, #a3795f93, #012654a9);
  padding: 5px 2px;
  border-radius: 0 11px 11px 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  opacity: 0.8;
}
.main__difficulty > label:hover {
  transition: all 1.3s ease 0s;
  opacity: 1;
}
.main__difficulty > label.active {
  background: -webkit-linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 20, 21));
  background: -moz-linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 20, 21));
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 20, 21));
  transition: all 0.3s ease 0s;
}
.main__difficulty > input {
  display: none;
}
#create-deck {
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
#create-deck:hover {
  background: tomato;
  filter: drop-shadow(0px 0px 10px #d60316);
}

/* deck button! */

.main__crete-deck {
}
.main__crete-deck > button {
  padding: 3px;
  border-radius: 5px;
  background: -webkit-linear-gradient(90deg, rgb(169, 0, 82), rgb(202, 118, 136) 11%, rgb(52, 4, 21));
  background: -moz-linear-gradient(90deg, rgb(169, 0, 82), rgb(202, 118, 136) 11%, rgb(52, 4, 21));
  background: linear-gradient(90deg, rgb(169, 0, 82), rgb(202, 118, 136) 11%, rgb(52, 4, 21));
  color: rgb(245, 246, 248);
  font-size: 20px;
  font-weight: 500;
}

/* main right  */

.main__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right__f-deck {
}

.right__past-deck {
}
.deck {
  height: 300px;
}
#next-card {
  cursor: pointer;
}
#current-card {
}
